.paddingnone {
    padding-left: 0px !important;
}

#t3 {
    .md-display-1 {
        font-size: 24px !important;
    }
}

.display-header {
    font-size: 23px;
}

button {
    border-radius: 5px;
}

.section-1 {
    display: grid;
    grid-template-columns: 60% auto;
    grid-gap: 10px;
    height: 100%;
}

%green-background {
    background-color: #00B388;
    color: white;
}

.sim-conf-form {
    .md-toolbar-tools {
        @extend %green-background;
    }
    md-tabs-wrapper .md-active {
        background-color: white;
        color: #00B388;
    }
    .md-input-focused label {
        color: #00B388 !important;
    }
    .md-input-focused .md-input {
        border-color: #00B388 !important;
    }
    md-dialog-actions .md-primary {
        @extend %green-background;
    }
    .md-input-focused md-select-value {
        border-color: #00B388 !important;
    }
    .md-input-focused md-select-value span {
        color: #00B388 !important;
    }
}

.banner {
    display: grid;
    grid-template-columns: 13% 13% 13% 13% auto;
    grid-gap: 5%;
    margin-bottom: 4rem;
    position: relative;
    .in-progress {
        div {
            padding-left: 30%;
            border-bottom: 1rem;
            path {
                stroke: #388a38;
            }
        }
        h3 {
            margin-bottom: 2rem;
        }
        text-align: center;
        color: #388a38;
        top: 1rem;
        position: absolute;
        right: 3rem;
    }
}

.track-progress .card {
    color: #00B388;
    border: 2px solid #00B388;
    .card-body {
        padding: 0.5rem;
        * {
            text-align: center;
        }
    }
}

gauge-chart {
    .amcharts-chart-div a {
        color: white !important;
    }
    svg {
        height: 600px !important;
    }
}

.screen {
    background-color: white;
}

.result {
    color: #1ee01e;
    margin-bottom: 3rem;
}

md-content {
    padding-left: 5%;
    padding-bottom: 10%;
}

md-whiteframe span {
    margin: 2rem;
}

div[layout-gt-sm] {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 10%;
}

.sim-config {
    h3 {
        padding: 1rem 0rem;
    }
    .add-metric {
        cursor: pointer;
    }
    md-select {
        width: 100%;
    }
}

.tab-content>.active {
    margin-left: 2rem;
}

.nav-tabs {
    background-color: #00B388;
    margin-bottom: 2rem !important;
    .nav-link.active {
        color: #00B388 !important;
    }
    .nav-link:hover {
        color: white;
        font-weight: 500;
    }
}

.cdp_tabs {
    .nav-tabs {
        background-color: white;
        .uib-tab {
            background-color: #00B388;
        }
    }
    .tab-content>.active {
        margin-left: 0rem;
    }
}

.ag-header-row {
    @extend %green-background;
}

.button-container {
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 1rem;
    button,
    button:hover {
        background-color: #00B388 !important;
        color: white !important;
    }
}

.ag-body-viewport {
    overflow-x: hidden;
}

.system-info {
    width: 60%;
    tr {
        td:nth-child(1) {
            background-color: #00B388;
            color: white;
        }
        td:nth-child(2) {
            text-align: right;
            color: #00B388;
        }
    }
}

.sub-tab-container {
    display: grid;
    grid-template-columns: 50% auto;
}

.result-completed {
    margin: 0 30%;
}

.sim-button-container {
    float: right;
    margin-right: 3rem;
    button {
        background-color: #00B388;
        color: white;
    }
}

$border-color: #d2d0cd;
$font-size: 14px;
$grid-size: 5px;
$hover-color: #02a7ec;
$header-background-image: none;
$secondary-font-size:14px;
$header-background-color: white;
$font-family: "Open Sans",
helvetica,
arial,
sans-serif;
$header-height: $grid-size * 7+1;
$selected-color: #02a7ec;
@import './styles/ag-grid.scss';
@import './styles/ag-theme-material.scss';
