.cdp_button {
    display: inline-block;
}

.btn-primary.cdp_button {
    float: right;
    margin-left: 5px;
    background-color: 238cb2;
}

.cdps {
    .card {
        background-color: 56595e;
        opacity: 0.9;
        color: white;
        width: 530px;
        margin: 20px;
        cursor: pointer;
        display: inline-block;
        float: left;
        .close {
            font-size: 2rem;
            margin-right: 5px;
            &:hover {
                color: red;
                opacity: 1;
            }
        }
        .card-body {
            height: 240px;
        }
        ul {
            margin-left: -40;
            margin-top: 11px;
        }
        h1 {
            font-size: 4rem;
        }
        h4 {
            font-size: 2.5rem;
            opacity: 0.8;
            text-transform: uppercase;
        }
        .card-label {
            font-weight: bold;
            opacity: 0.8;
        }
        li {
            list-style: none;
        }
        .color-orange {
            color: orange;
        }
        .color-red {
            color: red;
        }
        .color-green {
            color: #16e561;
        }
        .color-blue {
            color: blue;
        }
        .card-label {
            display: inline-block;
            width: 100px;
        }
        &:hover {
            background: black;
        }
    }
    .jumbotron {
        padding: 10px;
        background-color: 56595e;
        color: f4640c;
    }
    .image {
        background-image: url("dist/cloud.jpg");
    }
    .add-cdp i {
        font-size: 6rem;
        position: relative;
        top: 20%;
        left: 35%;
    }
}

.add_cdp {
    position: fixed;
    right: 10px;
    top: 10px;
}

.cdp_tabs .tab-content>.tab-pane {
    padding: 1rem;
}

.cdp_tabs {
    padding: 1rem;
}

.ui_analytics {
    .banner {
        margin: 30px 0px;
        margin-left: 120px;
        .card {
            width: 17%;
            display: inline-block;
            margin-left: 10px;
            background-color: #56595e;
            color: #fff;
            .card-title {
                text-align: center;
            }
            .card-value {
                text-align: center;
            }
            &:hover {
                background: black;
            }
        }
    }
}

.cdpHealth {
    height: 3000px;
    .version-double {
        margin-top: 10px;
    }
    .mini-card .card .card-title,
    .card-value {
        text-align: center;
    }
    .color-red {
        color: red;
    }
    .color-green {
        color: green;
    }
    .border {
        border-collapse: collapse;
        border: 1px solid black;
    }
    .banner {
        margin: 30px 0px;
        margin-left: 120px;
        .card {
            width: 17%;
            display: inline-block;
            margin-left: 10px;
            background-color: #56595e;
            color: #fff;
            &:hover {
                background-color: #000000;
            }
            .card-title {
                text-align: center;
            }
            .card-value {
                text-align: center;
            }
            &:hover {
                background: #000000;
            }
        }
    }
    .mini-card {
        .card {
            display: inline-block !important;
            margin: 20px;
            height: 100px;
            .card-body {
                height: 180px;
            }
            width: 191px;
            margin: 20px;
        }
    }
    .version_container {
        width: 83%;
        margin: 30px 0px;
        margin-left: 126px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        .infra {
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            width: 100%;
            text-align: center;
            padding: 10px;
            &:hover {
                background: black;
            }
        }
        .version_box {
            height: 70px;
            width: 9.74%;
            padding: 10px;
            display: inline-block;
            border-right: 1px solid rgba(0, 0, 0, 0.125);
            &:hover {
                background: black;
            }
            .pod_details {
                height: 26px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                text-align: center;
                h5 {
                    margin: 0 !important;
                }
            }
        }
    }
    .charts {
        height: 500px;
        padding: 20px;
        margin-top: 30px;
        margin-left: 10px;
        float: left;
        width: 48%;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }
    .traceback_box {
        height: 500px;
        padding: 0;
        padding-top: 10px;
        margin-top: 30px;
        margin-left: 10px;
        float: left;
        width: 48%;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        text-align: center;
    }
    .api_interface {
        text-align: center;
        height: 500px;
        padding: 20px;
        margin-top: 30px;
        margin-left: 10px;
        float: left;
        width: 48%;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        .inputField {
            float: left;
            margin-right: 25px;
            text-align: left;
        }
        .api_submit {
            float: left;
        }
        .api_detail {
            margin-top: 100px;
            height: 275px;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
        }
    }
    .traceback {
        list-style: none;
        padding: 0;
        li:nth-child(odd) {
            text-align: left;
            padding: 10px;
            list-style: none;
            background-color: #FFFFF;
        }
        li:nth-child(even) {
            text-align: left;
            padding: 10px;
            list-style: none;
            background-color: #dbd4d4;
        }
        span {
            display: block;
        }
    }
}

live-bar-chart {
    svg {
        margin-top: 1rem;
    }
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: inherit;
    }
    h1 {
        font-size: 150%;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 12px;
        font-style: italic;
        color: gray;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #everything {
        width: 600px;
        margin: 20px;
    }
    #chart {
        width: 600px;
        height: 400px;
    }
    .bar {
        fill: #4abd6b;
    }
    text.label {
        fill: #fff;
        color: #f4640c;
        font-size: 20px;
        font-weight: bold;
    }
    text.category {
        fill: #fff;
        font-size: 14px;
    }
}

line-chart {
    svg {
        font-family: "Helvetica Neue", Helvetica;
    }
    .line {
        fill: none;
        stroke: #000;
        stroke-width: 2px;
    }
}

donut-animation-chart {
    #donutanimationchart {
        height: 500px;
    }
    svg {
        width: 100%;
        height: 100%;
    }
    path.slice {
        stroke-width: 2px;
    }
    polyline {
        opacity: 0.3;
        stroke: black;
        stroke-width: 2px;
        fill: none;
    }
    .labelValue {
        font-size: 60%;
        opacity: 0.5;
    }
    .toolTip {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        display: none;
        width: auto;
        height: auto;
        background: none repeat scroll 0 0 white;
        border: 0 none;
        border-radius: 8px 8px 8px 8px;
        box-shadow: -3px 3px 15px #888888;
        color: black;
        font: 12px sans-serif;
        padding: 5px;
        text-align: center;
    }
    text {
        font: 12px sans-serif;
    }
}

animated-v-bar-chart {
    svg {
        width: 100%;
        height: 100%;
        position: center;
        margin-top: 30px;
    }
    path.slice {
        stroke-width: 2px;
    }
    text {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    polyline {
        opacity: 0.3;
        stroke: black;
        stroke-width: 2px;
        fill: none;
    }
    .labelValue {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 60%;
        opacity: 0.5;
    }
    label {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
    }
    .toolTip {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        display: none;
        width: auto;
        height: auto;
        background: none repeat scroll 0 0 white;
        border: 0 none;
        border-radius: 8px 8px 8px 8px;
        box-shadow: -3px 3px 15px #888888;
        color: black;
        font: 12px sans-serif;
        padding: 5px;
        text-align: center;
    }
    .legend {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 60%;
    }
    rect {
        stroke-width: 2;
    }
    text {
        font: 10px sans-serif;
    }
    text.value {
        font-size: 200%;
        fill: white;
    }
    text.label {
        font-size: 100%;
    }
    .axis text {
        font: 10px sans-serif;
    }
    .axis path {
        fill: none;
        stroke: #000;
    }
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .axis .tick line {
        stroke-width: 1;
        stroke: rgba(0, 0, 0, 0.2);
    }
    .axisHorizontal path {
        fill: none;
    }
    .axisHorizontal line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .axisHorizontal .tick line {
        stroke-width: 1;
        stroke: rgba(0, 0, 0, 0.2);
    }
    .bar {
        fill: steelblue;
        fill-opacity: 0.9;
    }
    .x.axis path {
        display: none;
    }
}

animated-h-bar-chart {
    svg {
        width: 100%;
        height: 100%;
        position: center;
    }
    path.slice {
        stroke-width: 2px;
    }
    text {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    polyline {
        opacity: 0.3;
        stroke: black;
        stroke-width: 2px;
        fill: none;
    }
    .labelValue {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 60%;
        opacity: 0.5;
    }
    label {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
    }
    .toolTip {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        display: none;
        width: auto;
        height: auto;
        background: none repeat scroll 0 0 white;
        border: 0 none;
        border-radius: 8px 8px 8px 8px;
        box-shadow: -3px 3px 15px #888888;
        color: black;
        font: 12px sans-serif;
        padding: 5px;
        text-align: center;
    }
    .legend {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 60%;
    }
    rect {
        stroke-width: 2;
    }
    text {
        font: 10px sans-serif;
    }
    text.value {
        font-size: 200%;
        fill: white;
    }
    text.label {
        font-size: 100%;
    }
    .axis text {
        font: 10px sans-serif;
    }
    .axis path {
        fill: none;
        stroke: #000;
    }
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .axis .tick line {
        stroke-width: 1;
        stroke: rgba(0, 0, 0, 0.2);
    }
    .axisHorizontal path {
        fill: none;
    }
    .axisHorizontal line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .axisHorizontal .tick line {
        stroke-width: 1;
        stroke: rgba(0, 0, 0, 0.2);
    }
    .bar {
        fill: steelblue;
        fill-opacity: 0.9;
    }
    .x.axis path {
        display: none;
    }
}

tree-map {
    svg {
        overflow: hidden;
    }
    rect {
        pointer-events: all;
        cursor: pointer;
        stroke: #eeeeee;
    }
    .chart {
        display: block;
        margin: auto;
    }
    .parent .label {
        color: #ffffff;
        font-size: 13px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
    .labelbody {
        background: transparent;
    }
    .label {
        margin: 2px;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
    .child .label {
        white-space: pre-wrap;
        text-align: center;
        text-overflow: ellipsis;
    }
    .cell {
        font-size: 11px;
        cursor: pointer;
    }
}

sun-burst {
    #main {
        float: left;
        width: 750px;
        margin-top: 1rem;
    }
    #sidebar {
        float: right;
        width: 250px;
    }
    #sequence {
        width: 1200px;
        height: 70px;
    }
    #legend {
        padding: 10px 0 0 3px;
    }
    #sequence text,
    #legend text {
        font-weight: 600;
        fill: #fff;
    }
    #chart {
        position: relative;
    }
    #chart path {
        stroke: #fff;
    }
    #explanation {
        position: absolute;
        top: 260px;
        left: 305px;
        width: 140px;
        text-align: center;
        color: #666;
        z-index: -1;
    }
    #percentage {
        font-size: 2.5em;
    }
}

js-errors {
    #jserrorschart {
        font: 10px sans-serif;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .x.axis path {
        display: none;
    }
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    .overlay {
        fill: none;
        pointer-events: all;
    }
    .focus circle {
        fill: none;
        stroke: steelblue;
    }
}

.ui_health {
    .uib-tab.active a {
        background-color: #56595e;
        color: #f4640c;
    }
    .hand {
        cursor: pointer;
    }
    a {
        color: f4640c;
    }
    .jumbotron {
        padding: 10px;
        background-color: 56595e;
        color: f4640c;
        text-transform: uppercase;
        i {
            font-size: 3rem;
        }
    }
    .cdp_id {
        display: inline-block;
        margin-left: 700px;
    }
}

.ui_analytics_charts {
    .card {
        margin: 20px;
        display: inline-block;
        float: left;
        width: 45%;
    }
}

api-error-chart {
    .axis text {
        font: 10px sans-serif;
    }
    .axis line,
    .axis path {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .axis--x path {
        display: none;
    }
    #apidesc {
        height: 50px;
    }
}

.chart-title {
    font-size: 1rem;
}

api-timeout-chart {
    path.slice {
        stroke-width: 2px;
    }
    polyline {
        opacity: 0.3;
        stroke: black;
        stroke-width: 2px;
        fill: none;
    }
    svg text.percent {
        fill: white;
        text-anchor: middle;
        font-size: 12px;
    }
    #apitimeoutchart {
        left: 20%;
        position: relative;
        margin-top: 10%;
    }
    .apitimeout .card-body {
        height: 500px;
    }
}

api-timeout {
    #chart {
        text-align: center;
        padding-top: 50px;
    }
    .arc text {
        font: 10px sans-serif;
        text-anchor: middle;
    }
    .pieBox {
        display: inline-block;
        height: auto;
    }
    #mainTooltip {
        position: absolute;
        min-width: 150px;
        height: 40px;
        padding: 0 0 25px 0;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 50px;
        -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
        pointer-events: none;
        fill: #fff;
        color: #fff;
        text-anchor: middle;
        text-align: center;
        font-weight: bold;
        font-size: 11px;
        z-index: 9999;
    }
    #mainTooltip:before {
        border: solid;
        border-color: rgba(0, 0, 0, 0.6) transparent;
        border-width: 10px 10px 0 10px;
        top: 100%;
        content: "";
        left: 43%;
        position: absolute;
        z-index: 99;
    }
    #mainTooltip.hidden {
        display: none;
    }
}

.apitimeout .card-body {
    height: 500px;
}

.ui_analytics_charts .sunburstchart {
    width: 65%;
}

.ui_analytics_charts .vbarchart {
    width: 25%;
    height: 550px;
}

.toast-top-right {
    margin-top: 5rem;
}

@import './style2.scss';
