<div class="cdpHealth" ng-controller="UIHealthCtrl">
<div>
	<h3 class="cdp_button">CDP Health Page</h3>
	<button type="button" class="btn btn-primary cdp_button" ng-click="upgrade()">Upgrade</button>
	<button type="button" class="btn btn-primary cdp_button" ng-click="restart_pod()">Restart Pod</button>
	<button type="button" class="btn btn-primary cdp_button" ng-click="download_snapshot()"> Download Snapshot</button>
	<button type="button" class="btn btn-primary cdp_button" ng-click="trigger_plv()">Trigger PLV</button>
</div>

<div class="banner">
	<div class="card">
		<div class="card-body">
			<h2 class="card-title">Status</h2>
			<h5 class="card-value">{{cdp_details.status}}</h5>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<h2 class="card-title">Version</h2>
			<h5 class="card-value">{{cdp_details.version}}</h5>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<h2 class="card-title">Channel</h2>
			<h5 class="card-value">{{cdp_details.channel_name}}</h5>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<h2 class="card-title">Nodes</h2>
			<h5 class="card-value">{{cdp_details.nodes}}</h5>
		</div>
	</div>
</div>
<div class="mini-card">
	<div class="card" ng-class="{'color-green':cdp_details.infra_versions.Postgres[1] == 'Up','color-red':cdp_details.infra_versions.Postgres[1] == 'Down'}">
		<div class="card-body">
			<h2 class="card-title">Postgres</h2>
			<h5 class="card-value">{{cdp_details.infra_versions.Postgres[0]}}</h5>
		</div>
	</div>
	<div class="card" ng-class="{'color-green':cdp_details.infra_versions.Redis[1] == 'Up','color-red':cdp_details.infra_versions.Redis[1] == 'Down'}">
		<div class="card-body">
			<h2 class="card-title">Redis</h2>
			<h5 class="card-value">{{cdp_details.infra_versions.Redis[0]}}</h5>
		</div>
	</div>
	<div class="card" ng-class="{'color-green':cdp_details.infra_versions.RabbitMQ[1] == 'Up','color-red':cdp_details.infra_versions.RabbitMQ[1] == 'Down'}">
		<div class="card-body">
			<h2 class="card-title">RabbitMQ</h2>
			<h5 class="card-value">{{cdp_details.infra_versions.RabbitMQ[0]}}</h5>
		</div>
	</div>
	<div class="card" ng-class="{'color-green':cdp_details.infra_versions.Hazelcast[1] == 'Up','color-red':cdp_details.infra_versions.Hazelcast[1] == 'Down'}">
		<div class="card-body">
			<h2 class="card-title">Hazelcast</h2>
			<h5 class="card-value">{{cdp_details.infra_versions.Hazelcast[0]}}</h5>
		</div>
	</div>
	<!-- <div class="card">
		<div class="card-body">
			<h2 class="card-title">CoreOS</h2>
<h5 class="card-value">{{cdp_details.infra_versions.CoreOS[0] + '(' + cdp_details.infra_versions.CoreOS[1] + ')'}}</h5>
		</div>
	</div> -->
	<div class="card" ng-class="{'color-green':cdp_details.infra_versions.K8S[1] == 'Up','color-red':cdp_details.infra_versions.K8S[1] == 'Down'}">
		<div class="card-body">
			<h2 class="card-title">K8S</h2>
			<h5 class="card-value">{{cdp_details.infra_versions.K8S[0]}}</h5>
		</div>
	</div>
	<div class="card" ng-class="{'color-green':cdp_details.infra_versions.Alembic[1] == 'Up','color-red':cdp_details.infra_versions.Alembic[1] == 'Down'}">
		<div class="card-body">
			<h2 class="card-title">Alembic</h2>
			<h5 class="card-value">{{cdp_details.infra_versions.Alembic[0]}}</h5>
		</div>
	</div>
	<div class="card" ng-class="{'color-green':cdp_details.infra_versions.Cassandra[1] == 'Up','color-red':cdp_details.infra_versions.Cassandra[1] == 'Down'}">
		<div class="card-body">
			<h2 class="card-title">Cassandra</h2>
			<h5 class="card-value">{{cdp_details.infra_versions.Cassandra[0]}}</h5>
		</div>
	</div>
</div>
<!-- <center>
<table border=1 style="border-collapse:collapse; padding-top:12px; padding-bottom:12px;" width="80%">
	<tr>
		<td>Postgres</td>
		<td>{{cdp_details.infra_versions.Postgres[0] + '(' + cdp_details.infra_versions.Postgres[1] + ')'}}</td>
		<td>Redis</td>
		<td >{{cdp_details.infra_versions.Redis[0] + '(' + cdp_details.infra_versions.Redis[1] + ')' }}</td>
		<td>RabbitMQ</td>
		<td> {{cdp_details.infra_versions.RabbitMQ[0] + '(' + cdp_details.infra_versions.RabbitMQ[1] + ')' }} </td>
		<td>Hazelcast</td>
		<td> {{cdp_details.infra_versions.Hazelcast[0] + '(' + cdp_details.infra_versions.Hazelcast[1] + ')' }} </td>

	</tr>
	<tr>
		<td>CoreOS</td>
		<td> {{cdp_details.infra_versions.CoreOS[0] + '(' + cdp_details.infra_versions.CoreOS[1] + ')' }} </td>
		<td>K8S</td>
		<td> {{cdp_details.infra_versions.K8S[0] + '(' + cdp_details.infra_versions.K8S[1] + ')' }} </td>
		<td>Alembic</td>
		<td> {{cdp_details.infra_versions.Alembic[0] + '(' + cdp_details.infra_versions.Alembic[1] + ')' }} </td>
		<td>Cassandra</td>
		<td> {{cdp_details.infra_versions.Cassandra[0] + '(' + cdp_details.infra_versions.Cassandra[1] + ')' }} </td>
	</tr>
	</table>
</center> -->
<div class="charts">
	<h5>Top 5 Faulty PODS</h5>
	<nvd3 options="options" data="cdp_details_info"></nvd3>
</div>
<div class="charts">
	<h5>Top 5 NBAPIs</h5>
	<donut-animation-chart></donut-animation-chart>
	<!-- <api-count-pie-chart></api-count-pie-chart> -->
</div>
<div class="traceback_box">
	<h5>Tracebacks</h5>
	<ul class="traceback">
		<li ng-repeat="traceback in tracebacks">
			<span>Count: {{traceback.count}}</span>
			<span>Pod: {{traceback.pod}}</span>
			<span>Kubernetes Version: {{traceback.kubernetes-version}}</span>
			<span>Error Message: {{traceback.error_message}}</span>
		</li>
	</ul>
</div>
<div class="api_interface">
	<h5>API-GW Interface</h5>
	<form name="api_interface" id="api_interface" novalidate>
		<div class="inputField">
			URL:
			<br>
			<input id="url" ng-model="api.url">
		</div>
		<div class="inputField">
			Username:
			<br>
			<input id="username" ng-model="api.username">
		</div>
		<div class="inputField">
			Password:
			<br>
			<input id="password" ng-model="api.password">
		</div>
		<div class="api_submit">
			<br>
			<button ng-click="submit_api_form(api)">Submit</button>
		</div>
	</form>
	<div class="api_detail">
		<span ng-bind="apigw_res">
			<span>
	</div>
</div>
</div>
