<div ng-controller="Tabs1Ctrl">
	<!-- <h3>Reports</h3> -->
	<div class="banner">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">System</h5>
				<h1 class="card-value">Central</h1>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Target Entity</h5>
				<h1 class="card-value">UCC</h1>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Simulator</h5>
				<h1 class="card-value">APSim</h1>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Metrics</h5>
				<h1 class="card-value">RMQ</h1>
			</div>
		</div>
		<div class="in-progress" ng-if="!in_progress_disabled">
			<div>
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
			<h3>In Progress</h3>
			<button type="button" class="btn btn-danger" ng-click="stop()">Stop</button>
			<button type="button" class="btn btn-warning" ng-click="pause()">Pause</button>
			<button type="button" class="btn btn-secondary" ng-click="downloadReport()">Download Report</button>
		</div>
	</div>
	<div class="section-1">
		<div ag-grid="gridOptions" class="ag-theme-material" style="height: 100%;width:100%"></div>
		<div>
			<gauge-chart></gauge-chart>
		</div>
	</div>
</div>
