<div ng-controller="Tabs3Ctrl" id="t3" class="simulators">
	<h3>Simulators</h3>
	<div class="button-container">
		<div></div>
		<md-button class="md-primary" class="md-primary md-raised" ng-click="showTabDialog($event)">Add Simulator</md-button>
	</div>
  <div ag-grid="gridOptions3" class="ag-theme-material" style="height:18rem ;width:100%"></div>
  <div class="sim-button-container" ng-if="isRowSelected()">
		<button type="button" class="btn" ng-click="start()">Start</button>
		<button type="button" class="btn" ng-click="">Reports</button>
		<button type="button" class="btn" ng-click="">Track Progress</button>
	</div>
    <script type="text/ng-template" id="tabDialog.tmpl.html"><md-dialog aria-label="Simulator Configuration	">
  <form class="sim-conf-form">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Simulator Configuration</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:1000px;max-height:810px;min-width:700px;min-height:350px; ">
      <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
        <md-tab label="System">
          <md-content class="md-padding-8">
          	<br/>
          	<div layout-gt-sm="row">
	            <md-input-container>
	              <label>System</label>
	              <input ng-model="user.system">
              </md-input-container>
              <md-input-container>
                  <label>Type</label>
                  <md-select ng-model="metric.type">
                      <md-option ng-repeat="type in system_types" ng-value="type">{{type.name}}</md-option>
                    </md-select>
                </md-input-container>
	            <!-- <md-input-container >
	              <label>Description</label>
	              <input ng-model="user.description">
	            </md-input-container> -->
          </div>
          <span class="display-header md-padding paddingnone">Credentials</span>
            <br/>
            <div layout-gt-sm="row">
              <md-input-container>
                <label>UserName</label>
                <input ng-model="user.user_name">
              </md-input-container>
              <md-input-container>
                  <label>Password</label>
                  <input ng-model="user.password">
              </md-input-container>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Target Entity">
        	<md-content class="md-padding-8 sim-config">
          	<h3>Metric Definition</h3>
          	<div layout-gt-sm="row" >
	            <md-input-container layout-gt-sm="row">
	              <label>Name</label>
	              <input ng-model="user.name">
	            </md-input-container>
						</div>
						<div ng-repeat="metric in metrics">
							<div layout-gt-sm="row" >
								<md-input-container layout-gt-sm="row">
									<label>Type</label>
									<md-select ng-model="metric.type">
										<md-option ng-repeat="type in entity_types" ng-value="type">{{type.name}}</md-option>
									</md-select>
								</md-input-container>
							</div>
							<div layout-gt-sm="row" ng-if="metric.type.value === 'process' || metric.type.value === 'pod' ">
									<md-input-container>
										<label>Name</label>
										<input ng-model="metric.name">
									</md-input-container>
									<md-input-container>
										<label>CPU Threshold</label>
										<input ng-model="metric.cpu">
									</md-input-container>
									<md-input-container>
										<label>Memory Threshold</label>
										<input ng-model="metric.memory">
									</md-input-container>
							</div>
							<div layout-gt-sm="row" ng-if="metric.type.value && metric.type.value !== 'process' && metric.type.value !== 'pod' ">
									<md-input-container>
										<label>Name</label>
										<input ng-model="metric.name">
									</md-input-container>
									<md-input-container>
										<label>Threshold</label>
										<input ng-model="metric.memory">
									</md-input-container>
							</div>
						</div>
						<div>
	            <md-whiteframe class="md-whiteframe-1dp add-metric" flex-gt-md="90" layout layout-align="center center" ng-click="addMetric()">
								<span>Add Metric</span>
							</md-whiteframe>
						</div>
          </md-content>

        </md-tab>
        <md-tab label="Simulator">
          <md-content class="md-padding">
            <div layout-gt-sm="row" >
              <md-input-container layout-gt-sm="row">
                <label>Type</label>
                <md-select ng-model="type.name">
                  <md-option ng-repeat="type in simulator_types" ng-value="type.name">{{type.name}}</md-option>
                </md-select>
              </md-input-container>
              <md-input-container>
                  <label ng-if = "type.name == 'CMD'">Enter Command</label>
                <input ng-model="user.user_name" ng-if = "type.name == 'CMD'">
                <md-button ng-if = "type.name == 'Kubernetes YAML'">
                    Browse
                </md-button>
            </md-input-container>

            </div>
            <span class="display-header md-padding paddingnone">Credentials</span>
            <br/>
            <div layout-gt-sm="row">
              <md-input-container>
                <label>UserName</label>
                <input ng-model="user.user_name">
              </md-input-container>
              <md-input-container>
                  <label>Password</label>
                  <input ng-model="user.password">
              </md-input-container>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Load Dependency">
          <md-content class="md-padding">
          	<div layout-gt-sm="row">
	          	<md-input-container class="md-block" flex-gt-sm="">
		              <label>Name</label>
		              <input ng-model="user.load_name">
		         </md-input-container>
		         <md-input-container class="md-block" flex-gt-sm="">
		              <label>Timout (in hours)</label>
		              <input ng-model="user.timeouts">
		         </md-input-container>
		     </div>
		     <span class="display-header md-padding paddingnone">Exit Criteria</span>
		     <br/>
		     <div layout-gt-sm="row">
	          	<md-input-container class="md-block" flex-gt-sm="">
		              <label>System Breakdown</label>
		              <input ng-model="user.system_breakdown">
		         </md-input-container>
		         <md-input-container class="md-block" flex-gt-sm="">
		              <label>Total Time</label>
		              <input ng-model="user.total_time">
		         </md-input-container>
		     </div>

          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="answer('not useful')" >
        Cancel
      </md-button>
      <span flex></span>
      <md-button ng-click="backTab()" ng-if="selectedIndex !== 0">
        Back
      </md-button>
      <md-button ng-click="changeTab()" style="margin-right:20px;background-color: #00B388; color: white;" class="md-primary md-raised" ng-if="selectedIndex !== 3">
        Next
      </md-button>
      <md-button ng-click="answer()" style="margin-right:20px;background-color: #00B388; color: white;" class="md-primary md-raised" ng-if="selectedIndex == 3">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>
  </div>

</div>
</div>
