<div ng-controller="TabsCtrl" class="ui_health">
	<uib-tabset active="active" class="cdp_tabs">
		<uib-tab index="0">
			<uib-tab-heading> Reports </uib-tab-heading>
			<div ng-include="'templates/reports.html'"></div>
		</uib-tab>
		<uib-tab index="1">
			<uib-tab-heading> System Info </uib-tab-heading>
			<div ng-include="'templates/system_info.html'"></div>
		</uib-tab>
		<uib-tab index="2">
			<uib-tab-heading> Tab3 </uib-tab-heading>
			<div ng-include="'templates/tabs3.html'"></div>
		</uib-tab>
	</uib-tabset>
</div>
