<div ng-controller="TabsCtrl" class="ui_health track-progress">
	<div class="banner">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">System</h5>
				<h4 class="card-value">{{selectedRow.name}}</h4>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Target Entity</h5>
				<h4 class="card-value">{{selectedRow.target_entity}}</h4>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Simulator</h5>
				<h4 class="card-value">{{selectedRow.simulator}}</h4>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Metrics</h5>
				<h4 class="card-value">{{selectedRow.metrics}}</h4>
			</div>
		</div>
		<div class="in-progress" ng-if="!in_progress_disabled">
			<div>
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
			<h3>In Progress</h3>
			<button type="button" class="btn btn-danger" ng-click="stop()">Stop</button>
			<button type="button" class="btn btn-warning" ng-click="pause()">Pause</button>
		</div>
		<div class="in-progress" ng-if="in_progress_disabled">
			<h3>Completed</h3>
			<button type="button" class="btn btn-secondary" ng-click="downloadReport()">Download Report</button>
		</div>
	</div>
	<div class="card result-completed">
		<div class="card-body">
			<h5 class="card-title">Final Result</h5>
			<h4 class="card-value">Total time - 1 min   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    Load - 400</h4>
		</div>
	</div>
	<div class="sub-tab-container">
		<uib-tabset class="cdp_tabs">
			<uib-tab index="0">
				<uib-tab-heading> Reports </uib-tab-heading>
				<div ng-include="'templates/reports.html'"></div>
			</uib-tab>
			<uib-tab index="1">
				<uib-tab-heading> System Info </uib-tab-heading>
				<div ng-include="'templates/system_info.html'"></div>
			</uib-tab>
		</uib-tabset>
		<div style="margin-top: 5rem;">
			<gauge-chart loadvalue="loadvalue"></gauge-chart>
		</div>
	</div>
</div>
