<div ng-controller="UIHealthCtrl" class="ui_health">
    <div class="jumbotron">
            <span><i class="large material-icons hand" ng-click="showHome()">home</i></span>
            <span><h1 class="cdp_id" ng-bind="selectedCDPID"></h1> </span>
    </div>
    <uib-tabset active="active" class="cdp_tabs">
        <uib-tab index="0">
			<uib-tab-heading> UI Analytics </uib-tab-heading>
			<div ng-include="'templates/ui_analytics.html'"></div>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading> CDP Info </uib-tab-heading>
            <div ng-include="'templates/cdp_health.html'"></div>
        </uib-tab>
    </uib-tabset>
</div>
